.spinning-wheel {
	--prizes-count: 2; /* fallback */
	--wheel-gradient: conic-gradient(
		red,
		orange,
		yellow,
		green,
		blue,
		violet,
		red
	); /* fallback */

	--inset-shadow-color: rgb(240 120 2);
	--main-color: #fcd81e;

	display: grid;
	grid-template-rows: 0.5rem 1fr auto;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	padding: 2%;
	width: 100%;
	overflow: hidden;
}

.spinning-wheel__wheel {
	position: relative;
	grid-row: 2 / 3;
	grid-column: 1 / 1;
	aspect-ratio: 1/1;

	width: 100%;
	border-radius: 50%;
	background: var(--wheel-gradient);
	transition: transform 0.3s ease;

	animation: roll 0.6s linear 0s infinite;
	animation-play-state: paused;
}

.spinning-wheel__wheel--rolling {
	animation-play-state: running;
}

@keyframes roll {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spinning-wheel__prizes {
	position: relative;
	top: 50%;
	left: 50%;
	margin: 0;

	padding: 0;
	width: 100%;
	height: 100%;

	list-style: none;
	transform: translate(-50%, -50%);
}

.spinning-wheel__prize {
	--nth: 0; /* fallback */

	--sector-angle: calc(360deg / var(--prizes-count));
	--half-angle: calc(var(--sector-angle) / 2);

	--outer-radius: 48%; /* радиус колеса с небольшим отступом от края */
	--fit: 0.94; /* запас между соседними иконками, 1 = впритык */

	--cot-half: calc(1 / tan(var(--half-angle)));
	--A: calc(var(--cot-half) + 2);
	--denom: calc(sqrt(1 + var(--A) * var(--A)));

	--icon-size: calc(2 * var(--outer-radius) * var(--fit) / var(--denom));
	--inner-radius: calc(var(--icon-size) * var(--cot-half) / 2);

	--x-offset: 50%;
	--y-offset: calc((var(--inner-radius) / var(--icon-size) + 1) * 100%);

	position: absolute;
	top: 50%;

	left: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-start;

	width: var(--icon-size);
	height: var(--icon-size);

	transform: translate(calc(0% - var(--x-offset)), calc(0% - var(--y-offset)))
		rotate(calc(var(--sector-angle) * var(--nth, 0)));
	transform-origin: var(--x-offset) var(--y-offset);
}

.spinning-wheel__icon {
	width: 100%;
	height: 100%;

	background-image: var(--bg-image);
	background-position: center top;
	background-size: contain;
	background-repeat: no-repeat;
}

.spinning-wheel__border {
	--border: 5%;
	--shadow: var(--border) * 0.5;
	--inset-shadow: var(--border) * 0.3;
	position: relative;
	z-index: 1;
	display: block;
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	width: 100%;
	height: 100%;
	box-shadow: 0 0.2rem 0.4rem 0.2rem rgb(0, 0, 0, 0.2);
	border-radius: 50%;
	background: radial-gradient(
		closest-side circle at center,
		transparent,
		transparent calc(100% - var(--border) - var(--shadow)),
		transparent calc(100% - var(--border) - var(--shadow)),
		rgb(0, 0, 0, 0.2) calc(100% - var(--border)),
		var(--inset-shadow-color) calc(100% - var(--border)),
		var(--main-color) calc(100% - var(--border) + var(--inset-shadow)),
		var(--main-color) calc(100% - var(--inset-shadow)),
		var(--inset-shadow-color) 100%
	);
}

.spinning-wheel__border::after {
	position: absolute;
	top: 50%;
	left: 50%;
	aspect-ratio: 1/1;
	width: clamp(1rem, 5%, 5rem);
	box-shadow:
		inset 0 0 0.3rem 0.1rem var(--inset-shadow-color),
		0 0.2rem 0.4rem 0.1rem rgb(0, 0, 0, 0.2);
	border-radius: 50%;
	background-color: var(--main-color);
	transform: translate(-50%, -50%);
	content: "";
}

.spinning-wheel__pointer {
	z-index: 1;
	grid-row: 1 / 3;
	grid-column: 1 / 2;

	align-self: start;
	aspect-ratio: 1/1;

	width: clamp(2rem, 10%, 10rem);

	background-image: url("../images/pointer.png");
	background-position: center top;
	background-size: contain;
	background-repeat: no-repeat;
	filter: drop-shadow(0 0.4rem 0.4rem rgb(0, 0, 0, 0.2));
}

.spinning-wheel__button {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
	margin-top: 1rem;
	padding: 1rem 2rem;
	box-shadow:
		inset 0 0 0.5rem 0.3rem var(--inset-shadow-color),
		0 0.2rem 0.4rem 0.1rem rgb(0, 0, 0, 0.2);
	border: none;
	border-radius: 1rem;

	background-color: var(--main-color);
	color: white;
	text-align: center;
	text-shadow: 0 0 0.2rem #630a03;
	font-weight: 900;
	font-size: 2rem;
	cursor: pointer;
}
